body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(8, 9, 51), rgb(43, 58, 78), rgb(8, 9, 51));
    font-weight: bolder;
}

#title {
  /* 親要素に display: flex と justify-content: center を設定 */
  display: flex;
  justify-content: center;
}

#title-child {
    color: white;
}

.title {
    font-size: 8em;
    text-align: center;
    width: 100%;
}

.roulette-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;                             /* 視点の調整 */
}

.roulette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;                                    /* 円筒の幅 */
    height: 100%;                                   /* 円筒の高さ */
    transform-style: preserve-3d;
    animation: spin 1s linear infinite;             /* 1秒で無限回転 */
    transition: transform 0.5s ease-in-out;         /* 回転のトランジションを追加 */
}

.name {
    position: absolute;                             /* 絶対位置に設定 */
    width: 100%;                                    /* 幅を円筒に合わせる */
    height: 50%;                                    /* 名前の高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
    backface-visibility: hidden;                    /* 背面を非表示にする */
}

.winner {
    font-size: 12rem;
    transition: font-size 1.5s ease;                /* イージングを追加 */
}


.fadein { 
    animation: fadeIn 3s;
}

.fadeout { 
    animation: fadeOut 6s ease-in;
}


/* フェードイン*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* フェードアウト*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* 回転アニメーション */
@keyframes spin {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-360deg); } /* X軸で回転 */
}